* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  background: $dark-blue;
  font-family: 'lato', Helvetica, Arial, sans-serif;
  font-size: $mid-size;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}